<div class="navigation">
    <h1>STADVDB G21 MCO2</h1>
    <p><a href="/">Node 0</a></p>
    {{!-- <p><a href="/1">Node 1</a></p>
    <p><a href="/2">Node 2</a></p> --}}
    <p><a href="/transaction">transaction</a></p>
    <p><a href="/rollback">rollback</a></p>
</div>

<div class="box">
	<h1>IMDB Movie Database</h1>
    
    {{#each tuple}}	
	<table class="display">
        <tr>
            <th>ID No.</th>		
            <th>Name</th>
            <th>Year</th>
            <th>Rank</th>
        </tr>
        <tr> <!-- Display Movie Searched -->
            <td> {{ this.id }} </td>
            <td> {{ this.name }} </td>
            <td> {{ this.year }} </td>
            <td> {{ this.rank }} </td>
        </tr>       
	</table>
    {{/each}} 

    <form action="/search">
        <table>
            <tr>                
                <td colspan="2">
                    <label>Search Movie:</label>
                </td>               
            </tr>
            <tr>
                <td>
                    <input type="text" name="id" placeholder="Type Movie ID here">
                </td>  
                <td>
                    <select name="isolationLevel" class="dropdown">
                        <option value="READ UNCOMMITTED">Read Uncommitted</option>
                        <option value="READ COMMITTED">Read Committed</option>
                        <option value="REPEATABLE READ">Repeatable Reads</option>
                        <option value="SERIALIZABLE">Serializable</option>
                    </select>
                </td>                                            
            </tr>
            <tr>                   
                <td>
                    <p> Search Pool </p>
                </td>
                <td>    
                    <select name="pool" class="dropdown">
                        <option value="1">All Movies</option>
                        <option value="2">Before 1980</option>
                        <option value="3">1980 Onwards</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Search"></button>
                </td>                      
            </tr>                
        </table>              
    </form>

	<form action="/insert">
        <table>
            <tr>
                <td colspan="2">
                <label>Insert Movie:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="name" type="text" placeholder="Type Movie Name here">
                </td>
                <td>
                    <input name="year" type="text" placeholder="Type Movie Year here">
                </td>
                </tr>
            <tr>
                <td>
                    <input name="rank" type="text" placeholder="Type Movie Rank here">  
                </td>
                <input name="isolationLevel" value="{{isolationLevel}}" type="hidden">
            </tr>
            <tr>                    
                <td colspan="2">
                    <input type="submit" value="Insert"></button>
                </td>                                      
            </tr> 
        </table>
    </form>
        
    <form action="/update">
        <table>
            {{#each tuple}}
            <tr>
                <td colspan="2">
                <label>Update Movie:</label>
                </td>
            </tr>
            <tr>
                <td>
                <input name="id" type="text" value="{{this.id}}" placeholder="Movie ID" readonly>
                </td>                    
                <td>
                    <input name="name" type="text" value="{{this.name}}" placeholder="Type Movie Name here">
                </td>
            </tr>                  
            <tr>
                <td>
                    <input name="year" type="text" value="{{this.year}}" placeholder="Type Movie Year here">
                </td>                    
                <td>
                    <input name="rank" type="text" value="{{this.rank}}" placeholder="Type Movie Rank here">	
                </td>
            </tr>   
            <tr>                  
                <td colspan="2">
                    <input type="submit" value="Update"></button>
                </td>
            </tr>
            {{/each}}
            <input name="isolationLevel" value="{{isolationLevel}}" type="hidden">
        </table>
        <input type="hidden" name="pool" value="{{pool}}">
    </form>
</div>	

<div class="spacer"></div>